@import url(./__item/photo-grid__item.css);
@import url(./__pics/photo-grid__pics.css);

.photo-grid {
  margin: 0 auto 92px auto;
  width: 1184px;
  max-width: 90%;
  min-height: 671px;
}

@media  (max-width : 768px) {
  .photo-grid {
    margin-top: 88px;
    margin-bottom: 80px;
    max-width: 720px;
  }
}

@media  (max-width : 320px) {
  .photo-grid {
    margin-top: 64px;
    margin-bottom: 64px;
    width: 288px;
    min-height: 2724px;
  }
}
