@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  margin: 58px auto 92px auto;
  width: 80%;
  height: auto;
}

@media (max-width : 1024px) {
  .lead {
    margin-top: 50px;
  }
}

@media (max-width : 768px) {
  .lead {
    margin-top: 50px;
    margin-bottom: 88px;
    width: 100%;
  }
}

@media (max-width : 320px) {
  .lead {
    margin-top: 50px;
    margin-bottom: 64px;
    width: 100%;
  }
}
