.place__url-heading {
  margin-top: 30px;
  margin-bottom: 12px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */
  color: #AAAAAA;
  letter-spacing: 2.4px;
}
