.lead__title {
  color: #FFFFFF;
  margin: 0 auto 32px auto;
  width: 720px;
  height: 200px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
/* or 104% */
  text-align: center;
}

@media  (max-width : 320px) {
  .lead__title {
    width: 288px;
    max-height: 88px;
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 1.1;
    /* or 110% */

  }
}

