.overview {
  position: relative;
  width: 100vh;
	display: flex;
	flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 92px;
}

@media (max-width : 1024px) {
  .overview {

    width: 100vh;
  }
}

@media (max-width : 768px) {
  .overview {
    width: 100%;
    margin-bottom: 88px;
  }
}

@media (max-width : 320px) {
  .overview {
    width: 100%;
    height: auto;
    margin-bottom: 64px;
  }
}
