.overview {
  position: relative;
  max-width: 984px;
	display: flex;
	flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 92px;
}

@media (max-width : 1024px) {
  .overview {
    max-width: 928px;
  }
}

@media (max-width : 768px) {
  .overview {
    max-width: 100%;
    margin-bottom: 88px;
  }
}

@media (max-width : 320px) {
  .overview {
    max-width: 100%;
    min-height: 1047px;
    margin-bottom: 64px;
  }
}
