.lead__image {


  background-size: fill;
  background-repeat: no-repeat;
  width: 100%;
  height: 615px;
  margin: 0;

}

@media (max-width : 768px) {
  .lead__image {
    max-height: 480px;
    object-position: 100% 100%;
  }
}

@media (max-width : 320px) {
  .lead__image {
    width: 320px;
    height: 200px;
  }
}
