.intro__text {
  width: 80%;
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
/* or 26px */
}

@media (max-width : 768px) {
  .intro__text {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

  }
}

@media (max-width : 320px) {
  .intro__text {
    width: 100%;
  }
}
