.root {
  display: block;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: auto;
  background-color: #2A2C2F;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  color: white;
  max-width: 1280px;
  height: 100%;
  padding-top: 34px;
}


@media (max-width : 1024px) {
  .root {
    max-width: 1024px;
    min-height: 7175px;
  }
}

@media (max-width : 768px) {
  .root {
    max-width: 768px;
    min-height: 7307px;
  }
}

@media (max-width : 320px) {
  .root {
    max-width: 320px;
    min-height: 9991px;
  }
}
