@import url(./__background/cover__background.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 740px;
}

@media  (max-width : 1024px) {
  .cover {
    width: 100%;
    height: 640px;
  }
}

@media  (max-width : 768px) {
  .cover {
    width: 100%;
    height: 480px;
  }
}

@media  (max-width : 320px) {
  .cover {
    width: 100%;
    height: 200px;
  }
}
