@import url(./__background/cover__background.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

.cover {
  background-image: url(../../images/cover-route-66.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1184px;
  height: 740px;
}

.cover:hover {
  opacity: 0.8;
}

@media  (max-width : 1024px) {
  .cover {
    width: 100%;
    height: 640px;
  }
}

@media  (max-width : 768px) {
  .cover {
    width: 100%;
    height: 480px;
  }
}

@media  (max-width : 320px) {
  .cover {
    width: 100%;
    height: 200px;
  }
}
