.cover__title {
  z-index: 1;
  margin: auto auto 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
/* identical to box height, or 106% */
  color: #FFFDFD;
  text-align: center;
}

@media (max-width : 320px) {
  .cover__title {
    width: 288px;
    font-size: 32px;
    line-height: 1.09;
/* identical to box height, or 109% */
  }
}
