@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__column/place__column.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);

.place {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: auto;
  margin: 0 auto 80px auto;
}

.place:last-child {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .place {
    width: 928px;
    min-height: 564px;
  }
}

@media (max-width: 768px) {
  .place {
    width: 720px;
    min-height: 509px;
  }
}

@media (max-width: 320px) {
  .place {
    flex-direction: column;
    width: 100%;
    min-height: auto;
    margin-bottom: 48px;
  }
  .place:last-of-type {
    margin-bottom: 0;
  }
}
