@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  display: flex;
  flex-wrap: wrap;
  margin: 92px auto auto;
  padding-bottom: 24px;
  max-width: 1184px;
  height: auto;
}

@media (max-width : 1024px) {
  .footer {
    width: 90%;
  }
}

@media (max-width : 768px) {
  .footer {
    width: 95%;
  }
}

@media (max-width : 320px) {
  .footer {
    display: flex;
    margin-top: 64px;
    margin-left: 16px;
    width: 50%;
    height: 70%;
  }
}
