.intro__title {
  width: 70%;
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
/* or 107% */
}

@media (max-width : 1024px) {
  .intro__title {
    width: 70%;
  }
}



@media (max-width : 768px) {
  .intro__title {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

@media (max-width : 320px) {
  .intro__title {
    text-align: left;
    font-size: 32px;
    line-height: 1.09;
/* or 109% */

    width: 100%;
  }
}
